/* <!-- You MIGHT make a second page specifically to show off tribe data when user clicks a tribe --> */

/* Literally just copy-pasted my "We need a hero" code for body */

body {
    display: block;
    text-align: center;
    margin: auto;
    /* background: linear-gradient(yellow, pink, pink); */ /* Gradiant background */
    background: url('https://files.catbox.moe/ludi3y.jpeg'); /* Screenshot off my phone */
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    font-family: "Bangers", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration-color: black;
    text-decoration: double;
    text-shadow: 2px 2px 4px black;
}

/* Struggling to figure out how to make this target the tribes on page 1 */

.tribe-list-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#tribe-link {
    background-color: blueviolet;
    border-radius: 35%;
    margin: auto;
}

.tribe-preview-description {
    width: auto;
}

article {
    border-radius: 10%;
    max-width: 30vw;
    margin: auto;
}

article, p {
    max-width: 20vw;
}

button {
    background: rgba(204, 204, 204, 0.3);
    font-size: 2rem;
}
