@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    display: block;
    text-align: center;
    margin: auto;
    /* background: linear-gradient(yellow, pink, pink); */ /* Gradiant background */
    background: url('https://files.catbox.moe/ludi3y.jpeg'); /* Screenshot off my phone */
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    font-family: "Poiret One";
    font-weight: 200;
    font-style: normal;
    text-decoration-color: black;
    text-decoration: double;
    text-shadow: 2px 2px 4px black;
}

button {
    font-size: 1.5rem;
    transition: transform 0.5s;
    background: rgba(52, 120, 238, 0.7); /* Makes the background of the button see-through, but not text */
    border-radius: 35%;
    color: silver;
    margin: auto;
    width: auto;
}

button:hover {
    transform: scale(1.1);
    background: rgba(204, 204, 204, 0.7);
}

a {
    text-decoration: none;
    color: silver;
}

.sort-buttons {
    display: flex;
    flex-wrap: wrap;
}

.tribe-list-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tribe-preview {
    border-radius: 10%;
    max-width: 35vw;
    margin: auto;
    transform: scale(0.9);
}

.tribe-preview-description {
    background: rgba(17, 17, 17, 0.85);
    border-radius: 20%;
    width: auto;
    max-width: 17vw;
    margin: auto;
    padding: 2vw;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: silver;
}


.tribe-preview-picture {
    align-items: center;
    background: rgba(52, 120, 238, 0.7);
    border: 6px solid whitesmoke;
    border-radius: 100%;
    transform: scale(0.6);
    transition: transform 0.5s;
}

.tribe-preview-picture:hover {
    transform: scale(0.8);
}

#tribe-link-button, #random-tribe-button {
}


@media screen and (max-width: 800px) {

    button {
        padding: 5vw;
    }

    .tribe-list-container {
        /* flex-direction: column; */
        text-align: center;
    }

    .tribe-preview {
        transform: scale(1.0);
        max-width: 50vw;
        text-align: center;
        background: none;
    }

    .tribe-preview-description {
        max-width: 0;
        max-height: 0;
        visibility: hidden;
    }

    .tribe-preview-picture {
        max-height: 20vh;
        max-width: 20vw;
    }

    #tribe-link-button {
        max-width: 0;
        max-height: 0;
        padding: 0;
        font-size: 2vw;
        text-align: center;
        visibility: hidden;
    }
}