/* <!-- You MIGHT make a second page specifically to show off tribe data when user clicks a tribe --> */

/* Literally just copy-pasted my "We need a hero" code for body */

body {
    display: block;
    text-align: center;
    margin: auto;
    background: linear-gradient(yellow, pink, pink); /* Desktop Background */
    background: url('https://files.catbox.moe/ludi3y.jpeg');
    background-size: cover;
    background-position: center;
    font-family: "Bangers", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration-color: black;
    text-decoration: double;
    text-shadow: 2px 2px 4px black;
}


/* IDs */

#tribe-data-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#tribe-lore-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

