@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* Literally just copy-pasted my "We need a hero" code for body */

body {
    display: block;
    text-align: center;
    margin: auto;
    background: linear-gradient(yellow, pink, pink); /* Desktop Background */
    background: url('https://files.catbox.moe/ludi3y.jpeg');
    background-size: cover;
    background-position: center;
    font-family: "Poiret One", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration-color: black;
    text-decoration: double;
    text-shadow: 2px 2px 4px black;
}

p {
    color: whitesmoke;
    width: auto;
    padding: 1.2rem;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    background: rgba(17, 17, 17, 0.85);
    border-radius: 25%;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background: rgba(52, 120, 238, 0.7); /* Makes the background of the button see-through, but not text */
    border-radius: 35%;
    border-style: outset;
    color: silver;
    margin: auto;
    width: auto;
    padding: 1.2rem;
    font-size: larger;
    transition: transform 0.5s;
}

button:hover {
    transform: scale(1.1);
    background: rgba(204, 204, 204, 0.7);
}


/* IDs */

#description-text-display {
    width: 30vw;
}

#tribe-data-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    /* margin: 5vw; */
}

#tribe-card {
    transform: scale(0.8);
    border-radius: 15%;
    /* margin: 5vw; */
}

#tribe-head-display {
    background: rgba(52, 120, 238, 0.7);
    border: 6px solid whitesmoke;
    border-radius: 100%;
    transform: scale(0.8);
    transition: transform 0.5s;
}

#tribe-head-display:hover {
    transform: scale(1.0);
}

#media-container {
    justify-content: center;
}

#media-display {
    width: fit-content;
    height: fit-content;
}

#media-caption {
    min-width: 20vw;
    align-content: center;
}

#tribe-lore-container {
    display: flex;
    justify-content: center;
    /* align-items: center; 
     align-content: center; */
}

#lore-and-lore-button-container {
    background: rgba(17, 17, 17, 0.85);
    border-radius: 25%;
}


#lore-text-display {
    font-size: large;
    padding: 2rem;
    background: none;
}

#button-list {
    width: 30vw;
}

#learn-more-button {
    width: auto;
    margin: auto;
}


#toggle-skin-button {
    visibility: hidden;
}


/* Comments section stuff */

#comment-submit-container {
    background: rgba(35, 37, 41, 0.7);
    border-radius: 10%;
    margin: 0vw 20vw 0vw 20vw;
}

.comments-section-container {
    background: rgba(7, 150, 7, 0.514);
    display: flex;
    flex-direction: column;
    border-radius: 20%;
    align-items: center;
    margin: 5vw 12vw 5vw 12vw;
}

.comment-data-field {
    border-radius: 10%;
    border-style: groove;
}

#user-name-input {
    
}

#user-comment-input {
    /* padding: 20vh; */
    height: 10vh;
    width: 20vw;
}

.user-comment-container {
    justify-content: center;
}

.user-name {
    background: red;
    width: auto;
    border-style: groove;
    border-radius: 25%;
}

.user-comment {
    border-style: groove;
    border-radius: 25%;

}

/* Mobile design */

@media screen and (max-width: 800px) {

    #tribe-data-container {
        flex-wrap: wrap;
    }
    .tribe-unit-display {
        visibility: hidden;
    }

    #lore-text-display {
        /* IDK, make it wider since units are hidden */
    }

}