@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');

/* Literally just copy-pasted my "We need a hero" code for body */

body {
    display: block;
    text-align: center;
    margin: auto;
    background: linear-gradient(yellow, pink, pink); /* Desktop Background */
    background: url('https://files.catbox.moe/ludi3y.jpeg');
    background-size: cover;
    background-position: center;
    font-family: "Poiret One", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration-color: black;
    text-decoration: double;
    text-shadow: 2px 2px 4px black;
}

p {
    color: whitesmoke;
    width: auto;
    padding: 1.2rem;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    background: black;
    border-radius: 25%;
}

/* IDs */

#description-text-display {
    width: 30vw;
}

#tribe-data-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    /* margin: 5vw; */
}

#tribe-card {
    transform: scale(0.9);
    border-radius: 15%;
    /* margin: 5vw; */
}

#tribe-lore-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* align-content: center; */
}

#media-container {
    justify-content: center;
}

#media-display {
    width: fit-content;
    height: fit-content;
}

#media-caption {
    min-width: 20vw;
    align-content: center;
}


#lore-text-display {
    font-size: large;
    padding: 2rem;
}

button {
    background-color: navy;
    border-radius: 35%;
    margin: auto;
    width: auto;
    padding: 1.2rem;
    font-size: larger;
}

#button-list {
    width: 30vw;
}

#toggle-skin-button {
    visibility: hidden;
}


@media screen and (max-width: 800px) {

    #tribe-data-container {
        flex-wrap: wrap;
    }
    .tribe-unit-display {
        visibility: hidden;
    }

    #lore-text-display {
        /* IDK, make it wider since units are hidden */
    }

}